# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/dist-ssr

# netlify
.netlify

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local
**/.vscode/
.idea/
*.swp
*.swo
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# local notes
/PLAN.md
