// COLORS
$color-primary: #039ae5;
$color-primary-dark: #0e1d2c;
$color-primary-light: #112234;
$color-primary-light2: rgba(17, 34, 52, 0.5);

$color-error: #e74c3c;

$color-blue-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: rgb(112, 112, 112);
$color-grey-dark-transparent: rgba(112, 112, 112, 0.1);

$color-white: #fff;
$color-black: #000;

// FONT SIZE
$default-font-size: 1.5rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
