.btn {
  animation: moveInBottom 1.5s ease;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;

  &,
  &:link,
  &:visited {
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    margin: 2rem 2rem 0 0;
    display: inline-block;
    border: 2px solid $color-white;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
  }

  &:hover {
    background-color: $color-white;
    color: $color-primary-dark;
  }
}

.btn-show-more {
  color: $color-white;
  text-transform: lowercase;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.5em 1.5em;
  border: 2px solid $color-white;
  border-radius: 0.5rem;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.btn-form {
  color: $color-white;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  // temp padding
  margin-left: 2rem;
  border: 2px solid $color-white;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $color-white;
    color: $color-primary-dark;
  }

  &:disabled,
  &[disabled] {
    background-color: transparent;
    color: $color-white;
    opacity: 0.2;
  }
}

.btn-link {
  color: $color-white;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.2rem solid $color-primary;
  transition: all 0.2s;

  &:hover {
    color: $color-primary;
    border-bottom: 0.2rem solid $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    border-bottom: 0.2rem solid $color-primary;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
